= form_for @group, :url => groups_path, :action => :post, :remote => true do |f|
  = hidden_field_tag 'group[teacher_id]', @auth.id
  = f.text_field :name, :autofocus => true, :placeholder => 'Enter class name'
  %p
    - Student.find(:all, :order => :name).each do |student|
      .student_ckeckbox
        = check_box_tag 'group[student_ids][]', student.id, student.in?(@group.students.to_a)
        = ' ' + student.name
  = button_to_function('Cancel', 'cancel_class_form()', :class => 'button radius alert')
  = f.submit :class => 'button radius success'

