.small-3.columns
.small-4.columns
  = form_for @group, :url => groups_path, :action => :post, :remote => true do |f|
    = hidden_field_tag 'group[teacher_id]', @auth.id
    = f.label :name
    = f.text_field :name, :autofocus => true
    %p
      - Student.find(:all, :order => :name).each do |student|
        %span= student.name
        = check_box_tag 'group[student_ids][]', student.id, student.in?(@group.students.to_a)
    = button_to_function('Cancel', 'cancel_class_form()', :class => 'button radius alert')
    = f.submit :class => 'button radius success'
.small-5.columns
